body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
.pokemon{
    border: 1px solid black;
    margin:0px
}
.pokemon:hover {
    background-color: darkgrey
}
.toolbar div {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex: 1
}
.toolbar div:hover {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex: 1;
    background-color: darkgrey
}
.toolbar{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
@keyframes load {
    to {
        transform: rotate(360deg)
    }
}
@keyframes sidebar_hide{
    to{
        width:0px;
        transform:scaleX(0)
    }
}
@keyframes sidebar_show {
    to {
        width: 15vw;
        transform: scaleX(1)
    }
}
@keyframes rotate {
    to {
        transform: rotate(-90deg)
    }
}
@keyframes rotate2 {
    to {
        transform: rotate(90deg)
    }
}
.gen * {
    font-size: 17.3333px;
}
.gen *:hover {
    background-color: gray;
    cursor: pointer
}
.sidebar-hide {
    animation-name: sidebar_hide;
    width: 15vw;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    transform-origin: left;
    animation-fill-mode: forwards
}
.sidebar-show {
    animation-name: sidebar_show;
    width: 0px;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    transform-origin: left;
    animation-fill-mode: forwards;
}
.sidebar-show-load {
    animation-name: sidebar_show;
    width: 0px;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    transform-origin: left;
    animation-fill-mode: forwards;
    filter: opacity(30%)
}
.loading-message {
    filter: opacity(300%)
}
.right {
    animation-name: rotate;
    animation-duration: 0.4s ;
    animation-fill-mode: forwards;
    cursor: pointer
}
.left {
    animation-name: rotate2;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    cursor: pointer
}
.loading {
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: 60;
    animation-timing-function: ease-in-out;
}
ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

    .square:focus {
        outline: none;
    }

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
